@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.layout {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.footer {
  margin-top: 2.5rem;
  background-color: #323232;
  position: relative;
  bottom: 0;
  padding: 36px 0 48px;
  width: 100%;
}

.map-container {
  height: 600px;
}

.mapboxgl-popup-content {
  width: max-content;
  height: max-content;
  background-color: #000000 !important;
  padding: 4px !important;
  border-radius: 5px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #000000 !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #000000 !important;
}

.mapboxgl-popup-close-button {
  right: 10px !important;
  top: 10px !important;
  color: white !important;
  border-radius: 3px !important;
  background-color: black !important;
}

/* || ALERT CARD */

.alert-card-text {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert-tag {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #e1e1e1;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* || CAROUSEL ARROW */

.slick-prev,
.slick-next {
  height: 30px !important;
  width: 30px !important;
}

.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
}
